<h1>Calcule a média</h1>

<form name='form-media' action='/result' method='post'>

	<label for='input1'> Insira a nota de P1: </label>
	<input type='text' name='input1' id='input1' />
	</br></br></br>

	<label for='input2'> Insira a nota de P2: </label>
	<input type='text' name='input2' id='input2' />
	</br></br></br>

	<input type='submit' value='Calcular' />
	

</form>