<!DOCTYPE html>

<head>
	<title>MovieMAkers</title>
	<link rel´'stylesheet' href='/estilo.css' />
</head>

<body>

	<h1>Makers Movies</h1>

	<form name='form-movies' method='post' actiojn='/cadastro'>
		<div class='form-texto'>
			<label for= 'titulo'>Título do Filme</label>
			<input type="text" name='titulo' id='titulo' placeholder='Ex.:Star Wars'></input>
		</div>
		
		<div class='form-texto'>
			<label for= 'duracao'>Duração (em min.)</label>
			<input type="text" name='duracao' id='duracao' placeholder='Ex.:180'></input>
		</div>
		
		<div class='form-texto'>
			<label for= 'imdb'>URL do IMDB</label>
			<input type="text" name='imdb' id='imdb' placeholder='http://www.imdb.com/StarWars'></input>
		</div>

		<div class='form-texto'>
			<label for= 'imagem'>URL da imagem</label>
			<input type="text" name='imagem' id='imagem' placeholder='http://www.imdb.com/StarWars.jpg'></input>
		</div>

		<input type='submit' />
	</form>
</body>